body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.canvas-container {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(to bottom, #CCCC99, #CCCC99);
}

.city, .area {
	margin-left: 5vw;
	color: #FFFFFF;
	font-weight: 600;
	width: 4vw;
	letter-spacing: 3px;
}

.search-content {
	height: 3vh;
	width: 30vw;
	display: inline-block;
	margin-left: 60vw;
	outline: none;
	border: none;
	font-size: 110%;
}

.btn-search {
	letter-spacing: 3px;
	width: 6vw;
	height: 3vh;
	line-height: 3vh;
	font-size: 110%;
	text-align: center;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	background-color: #FF6600;
	outline: none;
	border: none;
	padding: 1px 0;
}

.first-ad {
	height: 6vh;
	margin: auto;
}

.first-ad img {
	width: 100%;
	height: 100%;
}

.second-ad {
	height: 6vh;
	margin: auto;
	margin-top: 3px;
}

.second-ad img {
	width: 100%;
	height: 100%;
}

.back-main {
	margin: 0;
	padding: 0;
	height: 10vh;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: flex;
	position: relative;
}

.back-main .logo-main {
	height: 100%;
}

.visitor-count {
	line-height: 10vh;
	text-align: center;
	font-size: 110%;
	color: #222222;
	font-family: 'Microsoft Yahei';
	width: 20vw;
	margin-right: 5vw;
	position: absolute;
	right: 3vw;
}

.visitor-count span {
	font-size: 150%;
	color: #FF0000;
}

nav {
	height: 6vh;
	margin: 0;
	background: #0093DF;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: flex;
	align-items: center;
}

.main-content {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: flex;
}

.img-parent {
	border-top: 3px solid #DDDDDD;
	border-right: 3px solid #DDDDDD;
	width: 39.8vw;
	height: 66vh;
	padding: 0 0.2vw 0 0;
	margin: 0 0 0 0.2vw;
	padding-top: 0.2vh;
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.img-frame {
	margin: 0;
	padding: 0;
	width: 49%;
	height: 28vh;
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	color: #FF0000;
	border: 3px solid #DDDDDD;
	background-color: #FAFAFA;
	cursor: pointer;
}

.img-parent .img-item {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 28vh;
}

.img-parent .img-item:hover {
	box-shadow: 0 0 3vw 0 #aaaaaa;
}

.map-parent {
	position: relative;
	width: 60vw;
	height: 68vh;
	overflow: hidden;
	margin: 0 auto;
	border: 3px solid #EEEEEE;
	width: 60vw;
}

.map-parent .search-box {
	position: absolute;
	z-index: 20;
	width: 360px;
	height: 45px;
	background: #fff;
	right: 0;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
	border-radius: 3px;
}

.map-parent .search-box input {
	height: 45px;
	width: 100%;
	font-size: 100%;
	border: none;
	outline: none;
	text-align: center;
}

.map-parent .search-box span.cancel {
	display: inline-block;
	height: 45px;
	position: absolute;
	right: 10px;
	line-height: 45px;
	font-size: 150%;
	color: #CCCCCC;
    cursor: pointer;
}

.map-parent .search-box #panel {
	background-color: white;
	max-height: 40vh;
	overflow-y: auto;
	width: 100%;
}

.marker-content {
	background-image: url('../img/mark_r.png');
	width: 19px;
	height: 30px;
	text-align: center;
	color: #ffffff;
}